# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

'scopeName': 'source.vlsng'
'name': 'Volsung'
'fileTypes': [
  'vlsng'
]
'patterns': [
  {
    'match': ';.*$'
    'name': 'comment'
  }
  {
    'match': '(<>|>>|x>|=>|->)'
    'name': 'string'
  }
  {
    'match': '\\w+~'
    'name': 'variable'
  }
  {
    'match': '[0-9]+(\.[0-9]+)?'
    'name': 'keyword'
  }
  {
    'match': '".*?("|$)'
    'name': 'constant'
  }
  {
    'match': '\\&[^ ]+'
    'name': 'invalid'
  }
]
